<html>
<head><title>Inserir Pessoa</title></head>
<body>
    <form action="/insertProcess" method="POST" enctype='application/json' name="myForm">
        <p><label for="building">Builing:</label>
        <input type="text" name="building" id="fname" required></p>

        <p><label for="coord">Coord:</label>
        <input type="text" name="coord" id="lname" required></p>
        
        <p><label for="rua">Rua:</label>
        <input type="text" name="rua" id="bio" required></p>

        <p><label for="zipcode">Zip Code:</label>
        <input type="text" name="zipcode" id="bio" required></p>

        <p><label for="localidade">Localidade:</label>
        <input type="text" name="localidade" id="bio" required></p>

        <p><label for="gastronomia">Gastronomia:</label>
        <input type="text" name="gastronomia" id="bio" required></p>

        <p><label for="date">Date:</label>
        <input type="text" name="date" id="bio" required></p>
        <p><label for="grade">Grade:</label>
        <input type="text" name="grade" id="bio" required></p>
        <p><label for="score">Score:</label>
        <input type="text" name="score" id="bio" required></p>

        <p><label for="nome">Nome:</label>
        <input type="text" name="nome" id="bio" required></p>
        <p><label for="restaurant_id">Restaurant ID:</label>
        <input type="text" name="restaurant_id" id="bio" required></p>

        <input value="Submit" type="submit">
    </form>
</body>
</html>